In [9]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import numpy as np

In [16]:
data = pd.read_csv('bitcoin.csv')
data = data.iloc[:,1:]
data

,time,high,low,open,volumefrom,volumeto,close
0,2015-12-20,462.76,431.10,461.20,121531.64,5.431648e+07,441.78
1,2015-12-21,445.54,423.99,441.78,121990.88,5.327022e+07,437.59
2,2015-12-22,443.22,433.25,437.59,65785.54,2.884554e+07,437.03
3,2015-12-23,444.78,434.28,437.03,63247.04,2.787735e+07,442.43
4,2015-12-24,460.62,441.76,442.43,79604.01,3.609666e+07,452.98
...,...,...,...,...,...,...,...
1996,2021-06-07,36790.39,33367.12,35798.57,52209.55,1.850311e+09,33582.86
1997,2021-06-08,34061.09,31034.35,33582.86,88483.79,2.890313e+09,33409.38
1998,2021-06-09,37528.42,32435.18,33409.38,92280.57,3.249554e+09,37391.58
1999,2021-06-10,38387.20,35821.05,37391.58,63052.49,2.338112e+09,36680.78
2000,2021-06-11,37665.85,35981.84,36680.78,33418.02,1.235391e+09,36843.33

In [44]:
projection = 14
data['predict'] = data['close'].shift(-projection)
data

,time,high,low,open,volumefrom,volumeto,close,predict
0,2015-12-20,462.76,431.10,461.20,121531.64,5.431648e+07,441.78,430.70
1,2015-12-21,445.54,423.99,441.78,121990.88,5.327022e+07,437.59,433.32
2,2015-12-22,443.22,433.25,437.59,65785.54,2.884554e+07,437.03,431.20
3,2015-12-23,444.78,434.28,437.03,63247.04,2.787735e+07,442.43,430.82
4,2015-12-24,460.62,441.76,442.43,79604.01,3.609666e+07,452.98,457.05
...,...,...,...,...,...,...,...,...
1996,2021-06-07,36790.39,33367.12,35798.57,52209.55,1.850311e+09,33582.86,NaN
1997,2021-06-08,34061.09,31034.35,33582.86,88483.79,2.890313e+09,33409.38,NaN
1998,2021-06-09,37528.42,32435.18,33409.38,92280.57,3.249554e+09,37391.58,NaN
1999,2021-06-10,38387.20,35821.05,37391.58,63052.49,2.338112e+09,36680.78,NaN
2000,2021-06-11,37665.85,35981.84,36680.78,33418.02,1.235391e+09,36843.33,NaN

In [28]:
X = data[['close']]
y = data['predict']

In [29]:
X = X[:-projection]
y = y[:-projection]

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [32]:
model = LinearRegression()

In [34]:
model.fit(X_train, y_train)

LinearRegression()

In [35]:
model.score(X_test, y_test)

0.9553708871365948

In [49]:
model.predict(data[['close']][-projection:])

array([34547.03723837, 35585.78243465, 37195.02162209, 36594.7887674 ,
       37477.83238308, 39111.22636695, 36770.70170589, 35463.04167488,
       35720.17561054, 33530.32192803, 33358.86635991, 37294.59591588,
       36592.09062524, 36752.74374144])